<%  include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br>
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <br>
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="Image Unavailable">
                <div class="caption">
                    <br>
                    <h4 class="float-right">$9 a night</h4>
                    <h1 class="text-primary"><%= campground.name %></h1>
                    <p><%= campground.description %></p>
                    <p><em>Submitted by: <%= campground.author.username %></em></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <p><a class="btn btn-success"  href="/campgrounds/<%= campground._id %>/comments/new">Add new Comment</a></p>
                    <hr>
                </div>
                <%campground.comments.forEach(function (comment) {%>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong><%= comment.author.username %></strong></p>
                            <span class="float-right">10 Days ago</span>
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>



